In [72]:
import pandas as pd
import numpy as np

In [73]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

In [74]:
test_df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban
...,...,...,...,...,...,...,...,...,...,...,...,...
362,LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban
363,LP002975,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban
364,LP002980,Male,No,0,Graduate,No,3250,1993,126.0,360.0,NaN,Semiurban
365,LP002986,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural
366,LP002989,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural

In [75]:
train_df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [78]:
X = train_df.drop(['Loan_ID','Loan_Status'],axis = 1)
y = train_df['Loan_Status']
Xt = test_df.drop(['Loan_ID'],axis = 1)

In [79]:
X.columns

Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area'],
      dtype='object')

In [80]:
X['Gender'] = X['Gender'].fillna(X['Gender'].mode()[0])
X['Married'] = X['Married'].fillna(X['Married'].mode()[0])
X['Dependents'] = X['Dependents'].fillna(X['Dependents'].mode()[0])
X['Self_Employed'] = X['Self_Employed'].fillna(X['Self_Employed'].mode()[0])
X['Credit_History'] = X['Credit_History'].fillna(X['Credit_History'].mode()[0])
X['Loan_Amount_Term'] = X['Loan_Amount_Term'].fillna(X['Loan_Amount_Term'].mode()[0])
X['LoanAmount'] = X['LoanAmount'].fillna(X['LoanAmount'].mean())

In [81]:
Xt['Gender'] = Xt['Gender'].fillna(Xt['Gender'].mode()[0])
Xt['Married'] = Xt['Married'].fillna(Xt['Married'].mode()[0])
Xt['Dependents'] = Xt['Dependents'].fillna(Xt['Dependents'].mode()[0])
Xt['Self_Employed'] = Xt['Self_Employed'].fillna(Xt['Self_Employed'].mode()[0])
Xt['Credit_History'] = Xt['Credit_History'].fillna(Xt['Credit_History'].mode()[0])
Xt['Loan_Amount_Term'] = Xt['Loan_Amount_Term'].fillna(Xt['Loan_Amount_Term'].mode()[0])
Xt['LoanAmount'] = Xt['LoanAmount'].fillna(Xt['LoanAmount'].mean())

In [82]:
train_df.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [83]:
X['Married'].unique()

array(['No', 'Yes'], dtype=object)

In [84]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
X['Gender'] = label_encoder.fit_transform(X['Gender'])
X['Married'] = label_encoder.fit_transform(X['Married'])
X['Education'] = label_encoder.fit_transform(X['Education'])
X['Self_Employed'] = label_encoder.fit_transform(X['Self_Employed'])
X['Property_Area'] = label_encoder.fit_transform(X['Property_Area'])
X['Dependents'] = label_encoder.fit_transform(X['Dependents'])



Xt['Gender'] = label_encoder.fit_transform(Xt['Gender'])
Xt['Married'] = label_encoder.fit_transform(Xt['Married'])
Xt['Education'] = label_encoder.fit_transform(Xt['Education'])
Xt['Self_Employed'] = label_encoder.fit_transform(Xt['Self_Employed'])
Xt['Property_Area'] = label_encoder.fit_transform(Xt['Property_Area'])
Xt['Dependents'] = label_encoder.fit_transform(Xt['Dependents'])

In [85]:
y = label_encoder.fit_transform(y)

In [86]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
     X, y, test_size=0.2, random_state=0)

In [87]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state=0)
classifier.fit(X_train,y_train)

C:\Users\Raji\.conda\Anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(random_state=0)

In [88]:
y_pred =  classifier.predict(X_test)

yt_pred  = classifier.predict(Xt)

In [92]:
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test, y_pred)
print(confusion_matrix)

[[15 18]
 [ 2 88]]

In [93]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.8373983739837398